<launch>

  <!-- RGB-D Camera -->
  <include file="$(find openni2_launch)/launch/openni2.launch">
	<arg name="depth_registration" value="true"/>
  </include>

  <!-- Image_proc to grayscale image -->
  <group ns="/camera/rgb">
  	<node pkg="image_proc" type="image_proc" name="image_proc"/>
  </group>

 <!-- Relay camera topic rather than making new launch file --> 
  <node pkg="topic_tools" type="relay" name="camera_relay" args="/camera/rgb/image_mono /camera/rgb/image_rect"/>
  <node pkg="topic_tools" type="relay" name="depth_camera_relay" args="/camera/depth_registered/image_raw /camera/depth_registered/image"/>

  <!-- DEMO RGB-D -->
  <include file="$(find demo_rgbd)/demo_rgbd.launch"/>

</launch>
